---
import presentation from "@/data/presentation";
---

<div class="flex flex-wrap gap-4">
  {
    presentation.socials.map((social) => (
      <a
        href={social.link}
        target="_blank"
        rel="noopener noreferrer"
        class="rounded-full bg-chocolate/20 p-3 px-5 font-bold text-warm-cream transition-colors hover:bg-chocolate/40"
      >
        {social.label}
      </a>
    ))
  }
</div>
