---
import presentation from "@/data/presentation";
---

<div class="flex gap-4 flex-wrap">
  {
    presentation.socials.map((social) => (
      <a 
        href={social.link}
        target="_blank"
        rel="noopener noreferrer"
        class="p-3 bg-chocolate/20 rounded-full font-bold px-5 hover:bg-chocolate/40 transition-colors text-warm-cream"
      >
        {social.label}
      </a>
    ))
  }
</div>
